<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Project MVC </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Авторизация</a></li>
                <li><a href="RegPageController">Регистрация</a></li>
                <li><a href="UserPageController">Список пользователей</a></li>
                <li><a href="FilePageController">Список файлов</a></li>
                <li class="nav_avatar" style="position: absolute; left: 76vw;">{% for
                        key , item in data %}
                    <img class="avatar" class="user_ava" src="../photos/{{ item.photo }} "
                          width="180"   height="180">
                {% endfor %}
                </li>
                <li class="sign_out" style="position: absolute; left: 80vw;
                "><a href="PostController/signOut">Sign
                        Out</a></li>

            </ul>
        </div>
    </div>
</nav>